@SET CFN coverage_structure.xyz


&GLOBAL                  ! section to select the kind of calculation
   RUN_TYPE ENERGY       ! select type of calculation. In this case: ENERGY (=Single point calculation)
&END GLOBAL
&FORCE_EVAL              ! section with parameters and system description
  METHOD FIST            ! Molecular Mechanics method
  &MM                    ! specification of MM parameters 
    &FORCEFIELD          ! parameters needed to describe the potential 
    &SPLINE
    EMAX_SPLINE 10000    ! numeric parameter to ensure calculation stability. Should not be changed
    &END
      &NONBONDED       ! parameters for the non bonded interactions
        &LENNARD-JONES ! Lennard-Jones parameters
          atoms Cu Cu
          EPSILON    [K_e] 164.56
          SIGMA [angstrom]   3.601
          RCUT  [angstrom]  15.0
        &END LENNARD-JONES
        &LENNARD-JONES ! Lennard-Jones parameters
          atoms Pt Pt
          EPSILON    [K_e] 164.56
          SIGMA [angstrom]   3.601
          RCUT  [angstrom]  15.0
        &END LENNARD-JONES
        &LENNARD-JONES ! Lennard-Jones parameters
          atoms H H
          EPSILON    [K_e] 104.56
          SIGMA [angstrom]   2.601
          RCUT  [angstrom]  5.0
        &END LENNARD-JONES
      &END NONBONDED
      &CHARGE
        ATOM Cu
        CHARGE 0.0
      &END CHARGE
      &CHARGE
        ATOM Pt
        CHARGE 0.0
      &END CHARGE
      &CHARGE
        ATOM H
        CHARGE 0.0
      &END CHARGE
    &END FORCEFIELD
    &POISSON              ! solver for non periodic calculations
     PERIODIC NONE
      &EWALD
        EWALD_TYPE none
      &END EWALD
    &END POISSON
  &END MM
  &SUBSYS                 ! system description 
    &CELL
     ABC [angstrom] 20 20 20  
     PERIODIC NONE
    &END CELL
    &TOPOLOGY
      COORD_FILE_FORMAT XYZ
      COORD_FILE_NAME ${CFN}
      &CENTER_COORDINATES T
      &END CENTER_COORDINATES
    &END TOPOLOGY
   &END SUBSYS
&END FORCE_EVAL
